In [1]:
import kaggle, pandas as pd, sqlalchemy as sal

In [2]:
!kaggle datasets download ankitbansal06/retail-orders -f orders.csv #dataset download

usage: kaggle [-h] [-v] [-W]
              {competitions,c,datasets,d,kernels,k,models,m,files,f,config} ...
kaggle: error: unrecognized arguments: #dataset download

In [3]:
df = pd.read_csv('orders.csv', na_values=['Not Available', 'unknown']) #creating dataframe from the dataset and making ship_mode column consistent

In [4]:
df['Ship Mode'].unique()

array(['Second Class', 'Standard Class', nan, 'First Class', 'Same Day'],
      dtype=object)

In [5]:
df.columns=df.columns.str.lower()
df.columns=df.columns.str.replace(' ','_') #updating column names to common format

In [6]:
df['total_discount'] = df['list_price']*df['quantity']*df['discount_percent']*0.01

In [7]:
df.insert(loc=len(df.columns)-1, column='discount', value= df['list_price']*df['discount_percent']*0.01)

In [8]:
df['sale_price'] = df['list_price'] - df['discount']

In [9]:
df['profit'] = df['sale_price'] - df['cost_price']

In [10]:
df['order_date'] = pd.to_datetime(df['order_date']) #convert object to date format for order_date col

In [11]:
df.drop(columns=['list_price','cost_price','discount_percent'],inplace=True)

In [12]:
df

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,quantity,discount,total_discount,sale_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,2,5.2,10.4,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,3,21.9,65.7,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,2,0.5,1.0,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,5,19.2,96.0,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,2,1.0,2.0,19.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,3,1.2,3.6,28.8,-1.2
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,2,3.6,7.2,86.4,16.4
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,2,5.2,10.4,254.8,34.8
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,4,0.9,3.6,29.1,-0.9
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,2,7.2,14.4,232.8,22.8

In [19]:
engine = sal.create_engine(
    "mysql+pymysql://root:root@localhost:3306/retail_orders"
)
conn=engine.connect()

In [34]:
df.to_sql('df_orders', con=conn , index=False, if_exists = 'append')

9994